<ion-app>
  <!-- Start split pane  -->
  <ion-split-pane contentId="main-menu-content">
    <!-- Start menu -->
    <ion-menu side="start" contentId="main-menu-content">
      <!-- start menu header -->
      <ion-header>
        <ion-toolbar>
          <ion-title>
            <ion-icon name="person-circle" slot="start"></ion-icon>
            <span>Hello User</span>
          </ion-title>
        </ion-toolbar>
      </ion-header>
      <!-- End menu header -->
      <!-- Start menu content -->
      <ion-content>
        <ion-menu-toggle autoHide="false">
          <ion-list *ngFor="let p of pageMenu">
            <ion-item (click)="openPage(p)">
              <ion-icon slot="start" [name]="p.ionIcon"></ion-icon>
              <ion-label>{{p.title}}</ion-label>
            </ion-item>
          </ion-list>
        </ion-menu-toggle>
      </ion-content>
      <!-- End menu content -->
    </ion-menu>
    <!-- End menu -->
    <ion-router-outlet id="main-menu-content"></ion-router-outlet>
  </ion-split-pane>
  <!-- End split pane  -->
</ion-app>